# Node.js dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Dependency directories
.npm/
.pnpm/

# Cache and temp files
.eslintcache
.cache/
.repl_history

# Coverage directory
coverage/

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
